.Toolbar {
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.toolbar-logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

.hamburger-menu {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.hamburger-menu div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .hamburger-menu {
        display: none;
    }
}
