* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-container {
  width: 100%;
  padding: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input, textarea, select {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid rgb(84, 133, 211);
}

input.error {
  border: 2px solid red;
  background-color: #f8c9c4;
}